*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 50px;
   background-color: rgb(250, 250, 251);
}
.link{
    margin-left: 400px;
}
.link a{
    margin-left: 15px;  ;
    display:inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 10px;
    margin-top: 12px;
    color: rgb(83, 90, 96);
}
.link a:hover{
    background-color: silver ;
}
input{
    font-size: 20px;
    padding: 5px;
}
.linkss{
    background-color: #A7C1F9;
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
}
.main{
    height: 500px;
    background-color: gold;
}
main img{
    margin-left: 150px;
}
.barra{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.barra a{
    background-color: white;
    display:inline-block;
    padding: 12px 22px;
    color:orange;
    text-decoration: none;
    font-family:"Source Sans Pro", sans-serif;
    margin-left: 10px;
    border:orange 2px solid;
}
.barra  .Business{
    background-color: orange;
    color: white;
}
h1 {
    display: block;
    text-align: center;
    margin-top: -420px; 
    display: block;
   font-size: 55px;
}
.inicio{
    width: 480px;
    margin-left: 720px;
    font-family: sans-serif;
    line-height:27.4615px;
    font-size:21px;
    text-align: center;
    margin-top: 25px;
}
.caja2{

    height: 800px;
}
.caja2 h2{
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
}
.caja2 p{
    padding-top: 25px;
    text-align: center;

}
.texto{
     width: 480px;
     margin-left: 720px;
     font-family: sans-serif;
     line-height: 27px;
}
.publicidad{
    display: flex;
    justify-content: center;
}
.public1, .public2, .public3{
    width: 300px;
    height: 360px;
    padding: 10px;
    border:gainsboro 2px solid;
    border-radius: 6px;
}
.public1, .public3{
margin-top: 100px;
}
.public1{
    margin-right: 60px;
}
.public1 a{
    background-color: rgb(43, 45, 110);
    display:inline-block;
    padding: 12px 22px;
    color: white;
    text-decoration: none;
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 6px;
    margin-left: 65px;
    margin-top: 30px;
}
.public3{
    margin-left: 60px;
}
.public3 a{
    background-color: rgb(43, 45, 110);
    display:inline-block;
    padding: 12px 22px;
    color: white;
    text-decoration: none;
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 6px;
    margin-left: 90px;
    margin-top: 60px;
}
.public2{
    margin-top: 35px;
}
.public2 a{
    background-color: orange;
    display:inline-block;
    padding: 14px 22px;
    color: white;
    text-decoration: none;
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 6px;
    margin-left: 85px;
    margin-top: 50px;
}
.caja3{
    background-color: #F0F0F0;
    height: 500px;
}
.caja3 h2{
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
}
.texto2{
    width: 480px;
    text-align: center;
    margin-left: 720px;
    font-family: sans-serif;
 line-height: 27px;
 margin-top: 25px;
}
.divs{
    display: flex;
    justify-content: center;
}
.div1, .div2, .div3{
    margin-top: 50px;
    width: 350px;
    height: 120px;
    padding: 10px;
    border:gainsboro 2px solid;
}
.div1{
    margin-right: 60px;
}
.div3{
    margin-left: 60px;
}
.caja4{
    background-color:rgb(43, 45, 110);
    height:1300px;
}
.caja4 h2{
    text-align: center;
    font-size: 35px;
    padding-top: 120px;
    width: 450px;
    margin-left: 730px;
    color: white;
    font-family:"Roboto Slab Bold", serif;
}
.texto4{
    color: white;
    font-family:"Source Sans Pro", sans-serif;
    width: 460px;
    text-align: center;
    margin-left: 720px;
    font-family: sans-serif;
     line-height: 25px;
    margin-top: 25px;
    font-size: 17px;
}
.url a{
        background-color: orange;
        display:inline-block;
        padding: 14px 24px;
        color:white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 40px;
        margin-left: 890px;
    }
    .bas1{
            margin-top: 235px;
            width: 350px;
            height: 300px;
            padding: 10px;
            background-color:white;
            border-radius: 6px;
        }
        .bas1 a{
            margin-top: 20px;
            margin-left: 20px;
        }   
        .bas2{
            margin-top:135px;
            width: 350px;
            height: 400px;
            padding: 10px;
            background-color:white;
            border-radius: 6px;
        }
        .bas2 a{
            margin-top: 30px;
        }
        .bas1 a:hover{
            background-color:silver;
        }
        .bas2 a:hover{
            background-color:silver;
        }
        .bas3 a:hover{
            background-color:silver;
        }
        
        .bas3{
            margin-top: 35px;
            width: 350px;
            height: 500px;
            padding: 10px;
            background-color:white;
            border-radius: 6px;
           
        }
        .bas3 a {
            margin-top: 90px;
        }
        .caja4 h3   {
            text-align: center;
            color:rgb(39, 52, 139);
            font-size:21px;
        }
.bas a{
    background-color:rgb(239, 240, 241);
    display:inline-block;
    padding: 12px 120px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}
.bas{
        display: flex;
        justify-content: center;
    }
    .bas1{
        margin-right: 60px;
        padding: 15px;
    }
    .bas3{
        margin-left: 60px;
        padding: 15px;
    }
    .bas2{
        padding: 15px;
    }
    .caja5{
        background-color: #F0F0F0;
        height: 550px;
    }
    .nam2{
        display: flex;
        justify-content: center;
    }
    .hire, .reach{
        width: 600px;
        height: 280px;
        padding: 10px;
        font-family:"Source Sans Pro", sans-serif;
    }
    .hire{
        margin-top: 120px;
        margin-right: 60px;
    }
    .reach{
        margin-top: 120px;
        margin-left: 60px;
    }
    .nam2 img{
        width: 100px;
        height: 100px;
    }
    .nam2 a{
        background-color: orange;
        display:inline-block;
        padding: 14px 24px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 6px;

    }
    .hire a{
        background-color: orange;
        display:inline-block;
        padding: 14px 24px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 6px;
        margin-top: 19px;
    }   
    .caja7{
        height: 600px;
    }
    .caja7 .titulo{
        font-size: 40px;
        margin-top:35px;
        text-align: center;
    }
    .contenido{
        display: flex;
        justify-content: center;
    }
    .cont1, .cont2, .cont3, .cont4{
        margin-top: 35px;
        width: 350px;
        height: 400px;
        padding: 10px;
    }
    .caja7 a{
        color: orange;
    }
    .caja8{
        background-color:rgb(225, 236, 244);
        height: 350px;
    }
    .dat0{
          display: flex;
            justify-content: center;
    }
    .caja8 h2{
        font-size: 33px;   
        margin-left: 330px;
       padding-top: 100px;
    }
    .dat0 img {
        width: 60px;
        height: 60px;  
        float: left;  
        margin-right: 15px;
        
    }
    .dat1, .dat2, .dat3, .dat4{
        margin-left: 45px;
        margin-top:     40px;
      background-color: white;
        display:inline-block;
        padding: 12px 20px;
        color: white;
        text-decoration: none;
        font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-radius: 6px;
       height: 50px;
       width: 250px ;
    }
  footer{
      background-color:rgb(36, 39, 41);;;
      height: 350px;
  }
.listado{
    display: flex;
    justify-content: center;
}
.lista2, .lista3, .lista4, .lista5{
    margin-left: 90px;
    margin-top: 35px;
    line-height: 27px;
    font-size:15px;
    
}
.lista1{
    margin-top: 35px    ;
    line-height: 27px;
    font-size:15px;
}
.lista5 ul li{
    float: left;
    margin-left: 20px   ;
}
ul li a{
    color:white;
    color:rgb(132, 141, 149);
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
